body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #e63946;
    color: white;
}

.logo {
    font-size: 24px;
}

.menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    display: none;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}


@media (max-width: 425px) {
    .menu-toggle {
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 20px;
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        text-align: justify;
    }

    .nav-links.active {
        display:flex;
        text-align: justify;
    }
}


/* --------------------------------------------------------------------------------------------- */

/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
  } */

  .h1{
    text-align: center;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  #birthCertificate {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 20px;
    width: 800px;
    border-radius: 8px;
    background-color: white;
  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  input[type="text"], input[type="date"], input[type="file"] {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  button {
    margin-top: 15px;
    padding: 10px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #outputContainer {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f1f1f1;
  }
  